#application-menu {
  min-width: 254px;
  border: solid #26535c 1px;
  border-radius: 6px;
}

#application-menu * {
  border-radius: 6px;
}


///* Hide download and print options for now... */
//#data-download-link,
//#print-exec {
//  display: none;
//}


* .form-label {
  font-family: "TT Hoves Bold";
  font-weight: bold;
  text-align: justify;
}

* .form-error {
  color: orangered;
}
