/* Write your global *base* styles here, in PostCSS syntax */
@tailwind base;

@font-face {
    font-family: 'TT Hoves Bold';
    src: url('fonts/TTHoves-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves DemiBold';
    src: url('fonts/TTHoves-DemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves Light';
    src: url('fonts/TTHoves-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html * {
    font-family: Bitter,serif;
}

* a, * area, * button, * input, * label, * select, * summary, * textarea {
    font-family: "TT Hoves Light",Montserrat,sans-serif;
    font-size: 13px;
    line-height: 135%;
    font-weight: 400 !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    cursor: default;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
}

body, html {
    font-family: Bitter,serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "TT Hoves Bold",Montserrat,sans-serif;
    margin: 0;
    font-weight: 400 !important;
}

h1 {
    font-size: 32px;
    line-height: 116%;
}

a {
    background-color: transparent;
}

a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

button {
    border: 0;
    cursor: pointer;
    overflow: visible;
    text-transform: none;
}

[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}

[tabindex], a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

button, input, select, textarea {
    background-color: transparent;
    border: 1px solid WindowFrame;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    padding: .25em .375em;
}

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav ol, nav ul {
    list-style: none;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

/* Fixes for Bootstrap (imported by some Shiny modules) */
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    display: block !important;
    content: initial !important;
}

/* Reflow Styling */

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.row-nested {
    width: calc(100% + 2rem);
    margin: 0 -1rem 1rem -1rem;
}

.col {
    padding: 1rem;
    flex: 0 1 100%;
}

@media all and (min-width: 576px) {
    .col-panel {
        flex: 0 1 50%;
        padding-bottom: 0.25rem;
    }
}

@media all and (min-width: 992px) {
    main[role="main"] {
        flex: 0 1 66.333333%;
        min-width: 66px;
    }
    aside[role="complementary"] {
        flex: 0 1 33.333333%;
        margin-top: 0;
        min-width: 33px;
    }
}

/* TailwindCSS component classes */
@tailwind components;

/* TailwindCSS utility classes */
@tailwind utilities;

/*header, main, div, a, p, code, kbd, pre, samp {*/
/*    &.font-mono, */
    .font-mono {
        font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
        font-size: 1em
    }
/*}*/

.bg-cori-light {
    background-color: #fbf8e9;
}

.bg-green {
    background-color: green;
}
