/*[data-amplify-authenticator] {*/
/*    min-height: calc(100vh - 260px) !important;*/
/*}*/

[data-amplify-authenticator] [data-amplify-container] {
    border-radius: 6px !important;
    border: 3px solid white;
}

[data-amplify-authenticator] [data-amplify-container] [data-amplify-router] {
    border: transparent;
}

/*[data-amplify-authenticator] [data-amplify-container],*/
/*[data-amplify-authenticator] [data-amplify-container] [data-amplify-router] {*/
/*    width: 100%;*/
/*    min-height: 8em;*/
/*    background: #26535c !important;*/
/*    border: 0 solid transparent !important;*/
/*    border-radius: 0 0 !important;*/
/*    box-shadow: 0 0 !important;*/
/*}*/

/*[data-amplify-authenticator] [data-amplify-container] [data-amplify-router-content] {*/
/*    color: #ecf5ef !important;*/
/*    font-family: TT Hoves Regular,Montserrat,sans-serif !important;*/
/*    line-height: 170% !important;*/
/*    padding: 16px 2.5% 16px 5% !important;*/
/*    text-align: center;*/
/*}*/

/*[data-amplify-authenticator] [data-amplify-container] [data-amplify-router-content] [data-amplify-form] {*/
/*    padding-left: 12.5% !important;*/
/*}*/

/*@media (min-width: 800px) {*/
/*    [data-amplify-authenticator] [data-amplify-container] [data-amplify-router-content] [data-amplify-form] .amplify-flex {*/
/*        flex-direction: row !important;*/
/*    }*/
/*}*/

/*[data-amplify-authenticator] * .amplify-divider.amplify-divider--horizontal.amplify-divider--small.amplify-divider--label {*/
/*    display: none !important;*/
/*}*/

/*[data-amplify-authenticator] * .amplify-button.amplify-field-group__control.amplify-button--primary.amplify-button--fullwidth {*/
/*    display: none;*/
/*}*/

* #branding-info {
    font-family: 'Roboto', serif;
    padding: 32px;
    text-align: center;
}

* #branding-info h4 {
    font-family: 'Montserrat', serif;
    font-size: 1.25em;
}

* #branding-info .cori-logo {
    display: inline-block;
    width: 50%;
    text-align: center;
}

/*[data-amplify-authenticator] * .amplify-flex.amplify-field.amplify-textfield {*/
/*    display: none;*/
/*}*/

/*[data-amplify-authenticator] .amplify-tabs {*/
/*    display: none !important;*/
/*}*/

[data-amplify-authenticator] * .amplify-button--primary {
    background-color: rgb(38, 83, 92);
}

[data-amplify-authenticator] * .amplify-button--primary:hover {
    background-color: rgb(4, 125, 149);
}

/*[data-amplify-footer],*/
[data-amplify-footer] button {
    display: none !important;
}

[data-amplify-footer] {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    opacity: 1;
    transition: opacity 300ms;
    pointer-events: none;
    background: rgba(46, 60, 67, 0.8) url("images/loading.gif") no-repeat fixed center;
    background-size: 2em;
}

* #privacy-info {
    text-align: left;
    max-width: 845px;
    padding: 32px;
}

* #privacy-info p {
    font-family: "TT Hoves Light", Montserrat, sans-serif;
    font-size: 0.72em;
    color: #777;
}

* #privacy-info a {
    text-decoration: underline;
}
