h1, h2, h3, h4, h5, h6, a, span, li {
  display: inline-block;
}

h1 {
  font-size: 1em;
}

.App>div>.MuiGrid-root {
  justify-content: center;
}

/* Hide the default Amplify Authenticator SignOut button */
[data-test="greetings-nav-bar"] [data-test="greetings-nav"] * [data-test="sign-out-button"] {
  display: none;
}
