.slippy-map {
    position: relative;
    /*margin-left: 460px;*/
    /*width: calc(100vw - 460px);*/
    width: 100vw;
    height: 100vh;
}

.slippy-map>* {
    overflow: hidden;
}

.slippy-map>.mapboxgl-map {
    width: 100% !important;
    height: 100% !important;
}

.tooltip {
    width: 320px;

    border: 1px solid black;
    background-color: white;

    padding: 10px;

    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.tooltip h3 {
    margin: 0.5rem 0rem;
}

.tooltip .details {
    margin: 0.1rem 0rem;
    line-height: 1.6;
}

.tooltip .prop-score {
    font-weight: 400;
    margin: 0px;
}

.tooltip .click-prompt {
    font-style: italic;
    font-weight: 600;
    margin-top: 5px;
}

.tooltip p {
    margin: 0px;
}
