
.slippy-map {
    position: relative;
    /*margin-left: 460px;*/
    /*width: calc(100vw - 460px);*/
    width: 100%;
    /*height: 100vh;*/
    height: 100%;
    overflow: hidden;
}

.slippy-map>* {
    overflow: hidden;
}
