@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'TT Hoves';
  font-weight: normal;
  font-style: normal;
  src: local('TT Hoves'),
  url('./fonts/TypeType - TT Hoves Regular.ttf') format('truetype'),
  url('./fonts/TTHoves-Regular/font.woff') format("woff"),
  url('./fonts/TTHoves-Regular/font.woff2') format("woff2"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Regular.ttf') format('truetype'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Regular/font.woff') format("woff"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Regular/font.woff2') format("woff2");
}

@font-face {
  font-family: 'TT Hoves Bold';
  font-weight: bold;
  font-style: normal;
  src: local('TT Hoves'),
    url('./fonts/TypeType - TT Hoves Bold.ttf') format('truetype'),
    url('./fonts/TTHoves-Bold/font.woff') format("woff"),
    url('./fonts/TTHoves-Bold/font.woff2') format("woff2"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Bold.ttf') format('truetype'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Bold/font.woff') format("woff"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Bold/font.woff2') format("woff2");
}

@font-face {
  font-family: 'TT Hoves Medium';
  font-weight: 500;
  font-style: normal;
  src: local('TT Hoves'),
    url('./fonts/TypeType - TT Hoves Medium.ttf') format('truetype'),
    url('./fonts/TTHoves-Medium/font.woff') format("woff"),
    url('./fonts/TTHoves-Medium/font.woff2') format("woff2"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Medium.ttf') format('truetype'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Medium/font.woff') format("woff"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Medium/font.woff2') format("woff2");
}

@font-face {
  font-family: 'TT Hoves Italic';
  font-weight: normal;
  font-style: italic;
  src: local('TT Hoves'),
    url('./fonts/TypeType - TT Hoves Italic.ttf') format('truetype'),
    url('./fonts/TTHoves-Italic/font.woff') format("woff"),
    url('./fonts/TTHoves-Italic/font.woff2') format("woff2"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TypeType - TT Hoves Italic.ttf') format('truetype'),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Italic/font.woff') format("woff"),
    url('https://cori-risi-apps.s3.amazonaws.com/fonts/TTHoves-Italic/font.woff2') format("woff2");
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* default */
html, body {
  font-family: "Montserrat", "Bitter", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Montserrat", "TT Hoves", sans-serif;
}

h1, h2, h6 {
  font-family: "Montserrat", "TT Hoves Bold", "TT Hoves", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", "TT Hoves Medium", "TT Hoves", "Bitter", serif;
  font-weight: 400;
}

h4, h5 {
  font-family: "Montserrat", "TT Hoves Medium", "TT Hoves", sans-serif;
  font-weight: 500;
}

h1 { font-size: 3.2em; line-height: 1.16; }
h2 { font-size: 2.4em; line-height: 1.25; }
h3 { font-size: 1.8em; line-height: 1.3; }
h4 { font-size: 1.5em; line-height: 1.3; }
h5 { font-size: 1.2em; line-height: 1.3; }
h6 { font-size: .76em; line-height: 1.35; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 2.8em; }
  h2 { font-size: 2.3em; }
  h3 { font-size: 1.8em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1.2em; }
  h6 { font-size: 1.0em; }
}

p {
  font-family: "Bitter", serif;
  font-size: 1em;
  line-height: 1.7;
}

a {
  font-family: "Bitter", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.7;
  text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-item a, .sidebar-item a {
  font-family: "Montserrat", "TT Hoves", sans-serif;
  font-weight: normal;
}
